*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(chaaa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(199, 5, 66, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;

}
h1{
    font-size: 2rem;
    color: #23979f;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid white;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #b2de13;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0,5s ease-in-out;

}
input:focus~label,
input:valid~label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #17d052;
}
.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #a7087f;
    font-size: 1.2rem;
    top: 20px;
}
.Forget{
    margin: 35px 0;
    font-size: 0.85rem;
    color: #b7afb0;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.Forget label{
    display: flex;
    align-items: center;
}
.Forget label input{
    margin-right: 3px;
}
.Forget a{
    color: hsla(118, 95%, 39%, 0.693);
    text-decoration: none;
    font-weight: 600;

}
.Forget a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #c80b96;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
button:hover{
    background-color: #21cf38;
}
.Register{
    font-size:0.9rem;
    color: #c7a50b;
    text-align: center;
    margin: 25px 0 10px;

}
.Register p a{
    text-decoration: none;
    color: #8edd0f;
    font-weight: 600;
}
.Register p a:hover{
    text-decoration: underline;
}
